<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestionStockPoivronRouge"
        tools:targetApi="31">
        <activity
            android:name=".DetailCompte_Activity"
            android:exported="false"
            android:theme="@style/Theme.GestionStockPoivronRouge"
            android:parentActivityName=".Gestion_activity" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GestionStockPoivronRouge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/homename"
            android:theme="@style/Theme.GestionStockPoivronRouge"/>

        <activity
            android:name=".Gestion_activity"
            android:label="@string/gestion"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme.GestionStockPoivronRouge"/>
        <activity
            android:name=".ajoutCompte_Activity"
            android:label="@string/ajout"
            android:parentActivityName=".Gestion_activity"
            android:theme="@style/Theme.GestionStockPoivronRouge"/>
    </application>

</manifest>